@import url('https://fonts.googleapis.com/css?family=Changa&display=swap');

html {
    background-image: url("media/textures-abstract.jpg");
}

header h1{
    text-align: center;
    border: 1px solid orangered;
    font-family: 'Changa', sans-serif;
    font-size: 300%;
    color: orangered;
}

/* modified sample code from w3schools.com (because i couldnt figure out how to align my rows/columns) */
.column {
  float: left;
  width: 33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/* end modified sample code from w3schools.com*/

#container1 aside{
    border: 1px solid orangered;

    text-align: center;
    font-family: 'Changa', sans-serif;
    font-size: 120%;
    color: orangered;
}

#container2 article{
    border: 1px solid orangered;
    color: orangered;
    align-content: center;

}

#container3 aside{
    border: 1px solid orangered;

    text-align: center;
    font-family: 'Changa', sans-serif;
    font-size: 120%;
    color: orangered;
}


    text-align: center;

    border: 1px solid orangered;
    font-family: 'Changa', sans-serif;
    
    color: orangered;


